.login-bg {
  padding: 60px 120px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009ba4+0,2bedc4+100 */
  background: #009ba4;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #009ba4 0%, #2bedc4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #009ba4 0%, #2bedc4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #009ba4 0%, #2bedc4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ba4', endColorstr='#2bedc4',GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.login {
  max-width: 600px;
  background: #fff;
  padding: 60px 60px;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: -12px 19px 126px 3px #00000054;
}
