@import '~normalize.css/normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';

body {
  font-size: 16px;
}

html, body, #root, #main-container {
  width: 100%;
  height: 100%;
}

.bp3-button {
  outline: none;
}

.column {
  flex-grow: 0;
}

.container {
  width: 85%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.left {
  margin-right: auto !important;
}

.nav {
  padding: 24px 0;
}

.right {
  margin-left: auto !important;
}

.row {
  display: flex;
  flex-direction: row;
}
